default:
  image: debian:buster

stages:
  - test

report:
  stage: .pre
  only:
    refs:
      - branches
  script:
    - pwd
    - ls -la

parse-test:
  stage:  test
  only:
    refs:
      - branches
  variables:
    SEVERITY: "warning"
  script:
    - DEBIAN_FRONTEND=noninteractive
    - apt-get update
    - apt-get -yq install wget xz-utils
    - wget -qO- https://github.com/koalaman/shellcheck/releases/download/stable/shellcheck-stable.linux.x86_64.tar.xz | tar -xJv
    - echo "the following files will be checked"
    - find ./ -name "*.sh"
    - echo -e "*************\nSTARTING TEST\n*************"
    - find ./ -name "*.sh" | xargs shellcheck-stable/shellcheck -x -a --enable=all --severity=${SEVERITY}
    - shellcheck-stable/shellcheck -x -a --enable=all --severity=${SEVERITY} ronin Scripts/.logo
    - echo -e "*************\nTEST COMPLETE\n*************"
